<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summary Cards</title>
  <link rel="stylesheet" href="transactions.component.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="style-page">
  <div class="view">
    <div class="row mb-3">
      <!-- Description Card -->
      <div class="col-12 col-md-6">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Lender/Borrower Card and Investment Lead Card -->
      <div class="col-12 col-md-3">
        <div class="card-container box2 mb-3">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Borrower</p>
              <p class="card-text">Lender</p>
            </div>
          </div>
        </div>
        <div class="card-container box3">
          <div class="card">
            <div class="card-header">Investment Lead</div>
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Company/Ownership Card -->
      <div class="col-12 col-md-3">
        <div class="card-container box4">
          <div class="card">
            <div class="card-header">Company</div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <p class="card-text">Company</p>
                </div>
                <div class="col-6">
                  <p class="card-text">% Ownership</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header">Collateral</div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header">Loan Data</div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header">Interest Rates</div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header">Underwriting NAV --- Actual NAV</div>
            <div class="card-body">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card-container box1">
          <div class="card">
            <div class="card-header"> Returns </div>
            <div class="card-body">
              <p>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="card-header"> NAV IRR </div>
            <div class="card-body">
              <p>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="card-header"> Interest </div>
            <div class="card-body">
              <p>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="card-header"> Facility </div>
            <div class="card-body">
              <p>.</p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>