.view{
  padding: 2%;
  }
  
  .tableView {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  td, th {
      text-align: center;
      padding: 15px;
    }
  
    .table-hover tbody tr:hover {
      background-color: #f2f2f2;
    }
  
  
    .table-bordered {
      border: 2px solid #343a40; /* Darker border color */
    }
    
    .table-bordered thead th {
      border-bottom-width: 2px;
    }
    
    .table-bordered td, .table-bordered th {
      border: 1px solid #343a40; /* Darker border color for table cells */
    }
    
    .card-header {
      color: black; /* White text color */
    }
    
    .btn-light {
      background-color: #f8f9fa; /* Light background for buttons */
      color: #343a40; /* Dark text color for buttons */
      border-color: #343a40; /* Dark border color for buttons */
      padding: 2%;
    }
    
    .btn-light:hover {
      background-color: #e2e6ea; /* Slightly darker background on hover */
    }
    
    .headingPadding{
      padding-right: 10%;
    }
  
    .buttons-heading {
      margin-right: 10px; /* Adjust spacing between buttons */
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1050; /* Ensure it appears above other content */
    }
    
    .modal-dialog {
      z-index: 1060; /* Ensure it appears above the overlay */
    }


/* Heading styles */
h5.card-title, h2 {
  font-size: 1.5rem; /* Adjust this size as needed */
  font-weight: bold;
  margin-bottom: 0.75rem;
}

/* Ensure other headings are consistent */
h3, h4, h5, h6 {
  font-size: 1.25rem; /* Adjust this size as needed */
  font-weight: bold;
  margin-bottom: 0.75rem;
}

/* Custom styles for your card text */
.card-body {
  color: black;
}
 