<form [formGroup]="repaymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Repayment Amount - Fields</h3>

      <label for="cashInterest">Repayment:</label>
      <input type="number" class="form-control" formControlName="cashInterest" required>

      <label for="cashInterest">Cash Interest:</label>
      <input type="number" class="form-control" formControlName="cashInterest" required>
  
      <label for="pikInterest">PIK Interest:</label>
      <input type="number" class="form-control" formControlName="pikInterest" required>
  
      <label for="principal">Principal:</label>
      <input type="number" class="form-control" formControlName="principal" required>
  
      <label for="undrawnInterest">Undrawn Interest:</label>
      <input type="number" class="form-control" formControlName="undrawnInterest" required>
  
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </form>
  