body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('src\assets\ashim-d-silva-WeYamle9fDM-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    max-width: 380px;
    padding: 2rem;
    background: rgba(5, 10, 75, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 80%;
}

.m-auto {
    margin: auto !important;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Ensures the image scales correctly */
}

.title{
    margin-top: 10%;
    align-items: center;
    display: flex;
    margin-left: 30%;
    font-size:large;
    margin-bottom: 10%;
    color: aliceblue;
}

.form-floating {
    margin-bottom: 15px;
}

.form-check {
    text-align: left;
    color: aliceblue;
}