<form [formGroup]="dealForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Deal Details</h3>
      
      <label for="deal_Name">Deal Name:</label>
      <input type="text" class="form-control" formControlName="deal_Name">
      
      <!-- <label for="fund">Fund:</label>
      <input type="text" class="form-control" formControlName="fund">
      
      <label for="investment_date">Investment Date:</label>
      <input type="date" class="form-control" formControlName="investment_date">
      
      <label for="borrowerOne">Borrower One:</label>
      <input type="text" class="form-control" formControlName="borrowerOne">
      
      <label for="borrowerTwo">Borrower Two:</label>
      <input type="text" class="form-control" formControlName="borrowerTwo">
      
      <label for="ownershipOne">Ownership One:</label>
      <input type="text" class="form-control" formControlName="ownershipOne">
      
      <label for="percentOwnershipOne">Percent Ownership One:</label>
      <input type="text" class="form-control" formControlName="percentOwnershipOne">
      
      <label for="typeInvestment">Type of Investment:</label>
      <input type="text" class="form-control" formControlName="typeInvestment">
      
      <label for="typeInvestor">Type of Investor:</label>
      <input type="text" class="form-control" formControlName="typeInvestor">
      
      <label for="strategy">Strategy:</label>
      <input type="text" class="form-control" formControlName="strategy">
      
      <label for="sector">Sector:</label>
      <input type="text" class="form-control" formControlName="sector">
      
      <label for="subSector">Sub-Sector:</label>
      <input type="text" class="form-control" formControlName="subSector">
      
      <label for="navType">NAV Type:</label>
      <input type="text" class="form-control" formControlName="navType">
      
      <label for="nationalAmount">National Amount:</label>
      <input type="text" class="form-control" formControlName="nationalAmount">
      
      <label for="guarantee">Guarantee:</label>
      <input type="text" class="form-control" formControlName="guarantee">
      
      <label for="description">Description:</label>
      <textarea class="form-control" formControlName="description"></textarea>
      
      <label for="status">Status:</label>
      <input type="text" class="form-control" formControlName="status">
      
      <label for="dealPerformance">Deal Performance:</label>
      <input type="text" class="form-control" formControlName="dealPerformance"> -->
      
      <br>
      <button type="submit" class="add-button btn btn-primary">Add</button>
    </div>
  </form>
  