.add-button{
    margin-top: 1.5%;
}

textarea {
    width: 100%; /* Make textarea take the full container width */
    height: 150px; /* Set a fixed height */
    padding: 10px; /* Add some padding inside the text area */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 4px; /* Optional: round the borders */
    background-color: #f8f8f8; /* Change background color */
    resize: none; /* Disable resizing */
}
.form-group {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  label {
    display: block;
    margin: 12px 0 6px;
    font-weight: bold;
    color: #333;
  }