<body class="style-page">
  <div class="container">
    <!-- Header Section -->
    <header class="header">
      <div class="deal-name">
        <h1>{{deal_Name}}</h1>
        <!-- <p>Investment lead</p> -->
      </div>
      <div class="date-input">
        <label for="date">Date</label>
        <input type="date" id="date">
      </div>
    </header>

    <!-- Main Content Grid -->
    <div class="grid-container">
      <!-- Description Section -->
      <div class="card">
        <h3>Description</h3>
        <p>Deal description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <!-- Details Section -->
      <div class="card">
        <h3>Details</h3>
        <table>
          <tbody *ngFor="let deal of dealInformation">
            <tr>
              <td class="label">Lender</td>
              <td>{{ deal.lender}}</td>
            </tr>
            <tr>
              <td class="label">Borrower</td>
              <td>{{ deal.borrower}}</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>COMPANY</th>
              <th>OWNERSHIP %</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>XYZ Corp</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>ABC Company</td>
              <td>40%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Collateral Section -->
      <div class="card">
        <h3>Collateral</h3>
        <p>Information about the collateral...</p>
      </div>

      <!-- Collateral Information dSection -->
      <div class="card">
        <h3>Deal Data</h3>
        <table class="table">
        <tbody *ngFor="let deal of dealInformation">
          <tr>
            <th>Investment Date</th>
            <td>{{ deal.investment_date | date }}</td>
          </tr>
          <tr>
            <th>Maturity Date</th>
            <td>{{ deal.maturity_date | date }}</td>
          </tr>
          <tr>
            <th>Facility</th>
            <td>{{ deal.facility | number:'1.0-0' }}</td>
          </tr>
          <tr>
            <th>Opening Fee</th>
            <td>{{ deal.opening_fee | number:'1.0-0' }}</td>
          </tr>
          <tr>
            <th>Availability Fee</th>
            <td>{{ deal.availability_period| number:'1.0-0' }}</td>
          </tr>
          <tr>
            <th>Minimum Multiple</th>
            <td>{{ deal.minimum_Multiple| number:'1.0-0' }}x</td>
          </tr>
        </tbody>
      </table>
      </div>

      <!-- Cash Interest Rates Section -->

      <!-- Cash Interest Rates Section -->
      <div class="card">
        <h3>Cash and PIK Interest Rates</h3>
        <table class="table table-bordered" *ngFor="let deal of dealInformation">
          <thead>
            <tr class="main-header">
              <th colspan="3" class="left-column">CASH INTEREST RATE</th>
            </tr>
            <tr class="sub-header">
              <th class="right-column">Period</th>
              <th class="right-column">Rate</th>
              <th class="right-column">End Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1st Period</td>
              <td>{{ deal.cashInterest_Rate_1st ? deal.cashInterest_Rate_1st + '%' : '-' }}</td>
              <td>{{ deal.cashInterest_End_1st ? (deal.cashInterest_End_1st | date) : '-' }}</td>
            </tr>
            <tr>
              <td>2nd Period</td>
              <td>{{ deal.cashInterest_Rate_2nd ? deal.cashInterest_Rate_2nd + '%' : '-' }}</td>
              <td>{{ deal.cashInterest_End_2nd ? (deal.cashInterest_End_2nd | date) : '-' }}</td>
            </tr>
            <tr>
              <td>3rd Period</td>
              <td>{{ deal.cashInterest_Rate_3rd ? deal.cashInterest_Rate_3rd + '%' : '-' }}</td>
              <td>{{ deal.cashInterest_End_3rd ? (deal.cashInterest_End_3rd | date) : '-' }}</td>
            </tr>
          </tbody>

          <!-- PIK Interest Rate -->
          <thead>
            <tr class="main-header">
              <th colspan="3" class="left-column">PIK INTEREST RATE</th>
            </tr>
            <tr class="sub-header">
              <th class="right-column">Period</th>
              <th class="right-column">Rate</th>
              <th class="right-column">End Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1st Period</td>
              <td>{{ deal.pikInterest_Rate_1st ? deal.pikInterest_Rate_1st + '%' : '-' }}</td>
              <td>{{ deal.pikInterest_End_1st ? (deal.pikInterest_End_1st | date) : '-' }}</td>
            </tr>
            <tr>
              <td>2nd Period</td>
              <td>{{ deal.pikInterest_Rate_2nd ? deal.pikInterest_Rate_2nd + '%' : '-' }}</td>
              <td>{{ deal.pikInterest_End_2nd ? (deal.pikInterest_End_2nd | date) : '-' }}</td>
            </tr>
            <tr>
              <td>3rd Period</td>
              <td>{{ deal.pikInterest_Rate_3rd ? deal.pikInterest_Rate_3rd + '%' : '-' }}</td>
              <td>{{ deal.pikInterest_End_3rd ? (deal.pikInterest_End_3rd | date) : '-' }}</td>
            </tr>
          </tbody>

          <!-- PIYC Interest Rate -->
          <thead>
            <tr class="main-header">
              <th colspan="3" class="left-column">PIYC INTEREST RATE</th>
            </tr>
            <tr class="sub-header">
              <th class="right-column">Period</th>
              <th class="right-column">Rate</th>
              <th class="right-column">End Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1st Period</td>
              <td>{{ deal.piycInterest_Rate_1st ? deal.piycInterest_Rate_1st + '%' : '-' }}</td>
              <td>{{ deal.piycInterest_End_1st ? (deal.piycInterest_End_1st | date) : '-' }}</td>
            </tr>
            <tr>
              <td>2nd Period</td>
              <td>{{ deal.piycInterest_Rate_2nd ? deal.piycInterest_Rate_2nd + '%' : '-' }}</td>
              <td>{{ deal.piycInterest_End_2nd ? (deal.piycInterest_End_2nd | date) : '-' }}</td>
            </tr>
            <tr>
              <td>3rd Period</td>
              <td>{{ deal.piycInterest_Rate_3rd ? deal.piycInterest_Rate_3rd + '%' : '-' }}</td>
              <td>{{ deal.piycInterest_End_3rd ? (deal.piycInterest_End_3rd | date) : '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <!-- Facility Details Section -->
      <div class="card">
        <h3>Facility Details</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>Total Invested</th>
              <td>{{ metrics?.total_Invested  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Total debt</th>
              <td>{{ metrics?.total_Debt  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Total interest generated</th>
              <td>{{ metrics?.interest_Generated  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Accrued cash interest</th>
              <td>{{ metrics?.accrued_Cash_Interest  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Accrued PIK Interest</th>
              <td>{{ metrics?.accrued_Pik_Interest  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Accrued Undrawn Interest</th>
              <td>{{ metrics?.accrued_Undrawn_Interest  | number:'1.0-0' }}</td>
            </tr>
            <tr>
              <th>Interest payed</th>
              <td>{{ metrics?.interest_Payed | number:'1.0-0' }}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- Present Interest Details Section -->
      <div class="card">
        <h3>Present Interest Details</h3>
        <!-- Accrued Table -->
        <table>
          <thead>
            <tr>
              <th>Accrued</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total Interest Accrued</td>
              <td>{{ metrics?.interest_Generated ? metrics?.interest_Generated : '-' }}</td>
            </tr>
            <tr>
              <td>Accrued Cash Interest</td>
              <td>{{ metrics?.accrued_Cash_Interest ? metrics?.accrued_Cash_Interest  : '-' }}</td>
            </tr>
            <tr>
              <td>Accrued PIK Interest</td>
              <td>{{ metrics?.accrued_Pik_Interest ? metrics?.accrued_Pik_Interest  : '-' }}</td>
            </tr>
            <tr>
              <td>Accrued Undrawn Interest</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        <!-- Repayed Table -->
        <table>
          <thead>
            <tr>
              <th>Repayed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total Interest Repayed</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Total Cash Interest Repayed</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Total PIK Interest Repayed</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Total Undrawn Interest Repayed</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h3>Underwriting vs Actual</h3>
        <table class="table table-bordered" *ngFor="let deal of dealInformation">
          <!-- Main Header -->
          <thead>
            <tr>
              <th colspan="2" class="left-column">UNDERWRITING AMOUNTS</th>
              <th colspan="2" class="left-column">ACTUAL AMOUNTS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="right-column">Profit</td>
              <td> {{ deal.underwriting_NAV | number:'1.0-0'}}</td>
              <td class="right-column">NAV Profit</td>
              <td>{{metrics?.nav_profit | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td class="right-column">IRR</td>
              <td>{{deal.underwriting_IRR}}</td>
              <td class="right-column">NAV IRR</td>
              <td>-</td>
            </tr>
            <tr>
              <td class="right-column">MOIC</td>
              <td>{{deal.underwriting_MOIC}}</td>
              <td class="right-column">NAV MOIC</td>
              <td> {{metrics?.nav_moic | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h3>Present Data</h3>
        <table class="table">
          <tbody>
            <tr>
              <td class="left-column">NAV IRR</td>
              <td class="right-column">-</td>
            </tr>
            <tr>
              <td class="left-column">NAV MOIC</td>
              <td class="right-column"> {{ metrics?.nav_moic | number:'1.0-0'}}x</td>
            <tr>
              <td class="left-column">NAV Profit</td>
              <td class="right-column"> {{ metrics?.nav_profit | number:'1.0-0'}} </td>
            </tr>
            <tr>
              <td class="left-column">Current Collection</td>
              <td class="right-column"> {{ metrics?.total_Collections | number:'1.0-0'}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>