.style-page{
  background-color: #EEEBE0; /* Light blue background color for the entire page */
  color: #333;
}

.label{
  font-family: sans-serif;
  font-size: 1rem;
}


.deals-list{
  padding: 3%;
}

/* General styles for deal cards */
.floating-rectangle {
  padding: 1.5%;
  border-radius: 0.25rem; /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transitions for hover effects */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
  background-color: #EEEBE0;
}

.floating-rectangle:hover {
  transform: translateY(-5px); /* Slight upward lift on hover */
  box-shadow: 0 10px 15px #EEEBE0; /* Enhanced shadow for floating effect */
  background-color: #040c13; 
  color: aliceblue;
}

/* Title and description styles within deals */
.deal-title {
  color: #343a40; /* Dark grey for better readability */
}

.deal-description {
  color: #6c757d; /* Muted text color for descriptions */
}

/* Popup styling using Bootstrap's modal component conventions */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.popup .close:hover {
  color: #06D85F;
}

.popup h2 {
  color: #333;
  font-family: 'Arial', sans-serif;
}

.popup .content {
  max-height: 80%;
  overflow: auto;
}

@media (max-width: 700px) {
  .popup {
    width: 90%; /* More width for smaller screens */
  }
}

.newDealButton{
  margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    height: 80%;
}

.form-select {
  width: 40%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none;
  margin-bottom: 35px;
}


.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.deal-icon {
  width: 70px;
  height: 70px;
  background-color: #0056b3; /* Blue background for the icon circle */
  border-radius: 50%; /* Makes the div a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px; /* Adjust this value to position the icon */
  top: 50%;
  transform: translateY(-50%);
}

.icon-image {
  width: 70%; /* Ensure the image fits well within the circle */
  height: 70%; /* Ensure the image fits well within the circle */
  object-fit: cover; /* Ensures the image covers the circle while maintaining aspect ratio */
  filter: invert(100%); /* Invert the colors to make the image white */
}

.rows-list{
  margin-left: 3%;
}